.table-ticket {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.table-ticket thead {
    font-size: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.table-ticket tbody {
    font-size: 9px;
}

.table-ticket thead th:nth-child(1) {
    width: 15%;
}

.table-ticket thead th:nth-child(2) {
    width: 15%;
}

.table-ticket thead th:nth-child(3) {
    width: 40%;
}

.table-ticket thead th:nth-child(4) {
    width: 15%;
}

.table-ticket thead th:nth-child(5) {
    width: 15%;
}
